body
{
  margin: 0;
  font-family: 'Hind Siliguri', 'Arial', sans-serif;
  line-height: 20px;
}

.textbox
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: 500px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #666;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  z-index: 100;
  padding: 10px;
}

.textbox h1
{
  font-size: 1.2em;
}

.textbox .button
{
  text-align: center;
}

.textbox .button button
{
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.textbox .button button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
.textbox .button button:active {
	position:relative;
	top:1px;
}


canvas
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#controls
{
  width: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1000;
}

#controls .zoomgroup, #controls .control
{
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 5px;
  line-height: 0;
}

#controls .zoomgroup button:last-child
{
  border-top: 1px solid #ddd;
}

#controls button
{
  cursor: pointer;
  height: 30px;
  width: 100%;
  border: 0;
  background-color: #fff;
}

#controls button:hover
{
  background-color: rgb(249, 249, 249);
}

#controls .zoomPlus
{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='M 10 6 C 9.446 6 9 6.4459904 9 7 L 9 9 L 7 9 C 6.446 9 6 9.446 6 10 C 6 10.554 6.446 11 7 11 L 9 11 L 9 13 C 9 13.55401 9.446 14 10 14 C 10.554 14 11 13.55401 11 13 L 11 11 L 13 11 C 13.554 11 14 10.554 14 10 C 14 9.446 13.554 9 13 9 L 11 9 L 11 7 C 11 6.4459904 10.554 6 10 6 z'/%3E %3C/svg%3E");
}

#controls .zoomMinus
{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='m 7,9 c -0.554,0 -1,0.446 -1,1 0,0.554 0.446,1 1,1 l 6,0 c 0.554,0 1,-0.446 1,-1 0,-0.554 -0.446,-1 -1,-1 z'/%3E %3C/svg%3E");
}

#controls .information
{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAAAmJLR0QA/4ePzL8AAAFKSURBVDjLrZSxSsNQFIY/26KgLyA4teITOJjGxVUfwTGlfQFB3Bza+A6OTm0GcSgF52ZyaYmDIOjQZEwHEVR0aBxiSHPvudHBe7f/8N1zzn/vufAvq4LNBR4+PgNcmlTKgRodIhJlR7SpmZBt7jUg2wENCdlnbkQSEubYehYdeVQyx9SLveiFXbICdAvalGoOdYRyjgDYVdRWbnIkQEM2WONKUcPsAmxD65+8CaqVQq4W+OKOa57Eo7op5CnyiK0fe0YCNEihsSK/sOAUAEeAxjKUkOACcGKGPCF0CMCNuTzdiA/WgVVezUbolt8CcCC6Z5ku9xyAMwGZ5dPVVkKpd8eEPCsRZ/nBBoXQA5sA7DAs6JPlBwsNZTTeCZixKBuN1I64dAhjmtLs1pkakYmeJVtVWoSCY06xF+kLs+jRx8enT4+9376wP65vCWyJQpQJpLgAAAAASUVORK5CYII=");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

a, a:visited
{
  color: #1c1c1c;
}

a:hover, a:active
{
  color: #303030;
}

.animation
{
  float: left;
  width: 50%;
  text-align: center;
  font-size: 0.8em;
  color: grey;
  line-height: 1em;
  font-weight: bold;
}

.animation img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

#action
{
  top: 20px;
  transform: translate(-50%, 0)
}