body
{
  margin: 0;
  font-family: 'Hind Siliguri', 'Arial', sans-serif;
  line-height: 20px;
}

canvas
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#controls
{
  width: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1000;
  background-color: #fff;
}

#controls .zoomgroup, #controls .control
{
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 5px;
}

#controls .zoomgroup button:last-child
{
  border-top: 1px solid #ddd;
}

#controls button
{
  cursor: pointer;
  height: 30px;
  width: 100%;
  border: 0;
  background-color: #fff;
}

#controls button:hover
{
  background-color: rgb(249, 249, 249);
}

#controls .zoomPlus
{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='M 10 6 C 9.446 6 9 6.4459904 9 7 L 9 9 L 7 9 C 6.446 9 6 9.446 6 10 C 6 10.554 6.446 11 7 11 L 9 11 L 9 13 C 9 13.55401 9.446 14 10 14 C 10.554 14 11 13.55401 11 13 L 11 11 L 13 11 C 13.554 11 14 10.554 14 10 C 14 9.446 13.554 9 13 9 L 11 9 L 11 7 C 11 6.4459904 10.554 6 10 6 z'/%3E %3C/svg%3E");
}

#controls .zoomMinus
{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='m 7,9 c -0.554,0 -1,0.446 -1,1 0,0.554 0.446,1 1,1 l 6,0 c 0.554,0 1,-0.446 1,-1 0,-0.554 -0.446,-1 -1,-1 z'/%3E %3C/svg%3E");
}

#controls .information
{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAAAmJLR0QA/4ePzL8AAAFKSURBVDjLrZSxSsNQFIY/26KgLyA4teITOJjGxVUfwTGlfQFB3Bza+A6OTm0GcSgF52ZyaYmDIOjQZEwHEVR0aBxiSHPvudHBe7f/8N1zzn/vufAvq4LNBR4+PgNcmlTKgRodIhJlR7SpmZBt7jUg2wENCdlnbkQSEubYehYdeVQyx9SLveiFXbICdAvalGoOdYRyjgDYVdRWbnIkQEM2WONKUcPsAmxD65+8CaqVQq4W+OKOa57Eo7op5CnyiK0fe0YCNEihsSK/sOAUAEeAxjKUkOACcGKGPCF0CMCNuTzdiA/WgVVezUbolt8CcCC6Z5ku9xyAMwGZ5dPVVkKpd8eEPCsRZ/nBBoXQA5sA7DAs6JPlBwsNZTTeCZixKBuN1I64dAhjmtLs1pkakYmeJVtVWoSCY06xF+kLs+jRx8enT4+9376wP65vCWyJQpQJpLgAAAAASUVORK5CYII=");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

a, a:visited
{
  color: #1c1c1c;
}

a:hover, a:active
{
  color: #303030;
}